---
http_interactions:
- request:
    method: get
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://ecomm.sella.it/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"https://ecomm.sella.it/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://ecomm.sella.it/\">\r\n
        \     <s:element name=\"Encrypt\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"shopLogin\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"uicCode\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"amount\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"shopTransactionId\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1[...]
- request:
    method: post
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ecomm.sella.it/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Decrypt><tns:shopLogin>GESPAY12345</tns:shopLogin><tns:CryptedString>KFzOej9MGr*lXEe*LOB2wzLmHja3ghKAo3iMpR1pG35moFdejWKzAj1Zd*R_e0x8qyOSTQmZVGRXEzJMVzd9xRXS*7tkbQLPOuBZ7qAtoFsX2Fxks5HxY*3YsUeiOInUXNF7*ih1bzkwmYGchDqYnEi31rN8ZYwLHnjwMIEmWJNn7oJHE6RpfUHG*7qohDxZRto*VVTPFdM93CwECq7SdYLebAQ_9EefdcE90QCRcFdGxZp_yAr_t*YRgLcZ5B5j843krtjCvf_m8nS99CroJQ768XsvlXy29McM2G*369mTufGyGMRab5PIvJlpSd3ds6mGi1IoMJAyXVkCu_ygRDDXN5Fk4Hz58LrDIci4ZszyVRcqy56SeYV7eG*kG8LZV40WV2ey8Qeh8XDUZnCV3A</tns:CryptedString></tns:Decrypt></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ecomm.sella.it/Decrypt"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><DecryptResponse
        xmlns="https://ecomm.sella.it/"><DecryptResult><GestPayCryptDecrypt xmlns=""><TransactionType>DECRYPT</TransactionType><TransactionResult>KO</TransactionResult><ShopTransactionID>321_KO</ShopTransactionID><BankTransactionID>6</BankTransactionID><AuthorizationCode></AuthorizationCode><Currency>242</Currency><Amount>0.01</Amount><Country></Country><CustomInfo></CustomInfo><Buyer><BuyerName>Test
        Customer</BuyerName><BuyerEmail>test@example.com</BuyerEmail></Buyer><ErrorCode>74</ErrorCode><ErrorDescription>Autorizzazione
        negata</ErrorDescription><AlertCode></AlertCode><AlertDescription></AlertDescription><VbVRisp></VbVRisp><VbVBuyer></VbVBuyer><VbVFlag></VbVFlag><TransactionKey></TransactionKey></GestPayCryptDecrypt></DecryptResult></DecryptResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 May 2013 09:39:31 GMT
- request:
    method: post
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ecomm.sella.it/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Decrypt><tns:shopLogin
        xsi:nil="true"/><tns:CryptedString>KFzOej9MGr*lXEe*LOB2wzLmHja3ghKAo3iMpR1pG35moFdejWKzAj1Zd*R_e0x8qyOSTQmZVGRXEzJMVzd9xRXS*7tkbQLPOuBZ7qAtoFsX2Fxks5HxY*3YsUeiOInUXNF7*ih1bzkwmYGchDqYnEi31rN8ZYwLHnjwMIEmWJNn7oJHE6RpfUHG*7qohDxZRto*VVTPFdM93CwECq7SdYLebAQ_9EefdcE90QCRcFdGxZp_yAr_t*YRgLcZ5B5j843krtjCvf_m8nS99CroJQ768XsvlXy29McM2G*369mTufGyGMRab5PIvJlpSd3ds6mGi1IoMJAyXVkCu_ygRDDXN5Fk4Hz58LrDIci4ZszyVRcqy56SeYV7eG*kG8LZV40WV2ey8Qeh8XDUZnCV3A</tns:CryptedString></tns:Decrypt></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ecomm.sella.it/Decrypt"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><DecryptResponse
        xmlns="https://ecomm.sella.it/"><DecryptResult><GestPayCryptDecrypt xmlns=""><TransactionType>DECRYPT</TransactionType><TransactionResult>KO</TransactionResult><ErrorCode>9999</ErrorCode><ErrorDescription>Errore
        Tecnico</ErrorDescription></GestPayCryptDecrypt></DecryptResult></DecryptResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 28 May 2013 14:54:30 GMT
recorded_with: VCR 2.4.0
