---
http_interactions:
- request:
    method: get
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://ecomm.sella.it/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"https://ecomm.sella.it/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://ecomm.sella.it/\">\r\n
        \     <s:element name=\"Encrypt\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"shopLogin\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"uicCode\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"amount\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"shopTransactionId\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1[...]
- request:
    method: post
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ecomm.sella.it/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Encrypt><tns:shopLogin>GESPAY57135</tns:shopLogin><tns:uicCode>242</tns:uicCode><tns:amount>0.01</tns:amount><tns:shopTransactionId>123</tns:shopTransactionId><tns:languageId>1</tns:languageId><tns:buyerName>Test
        Customer</tns:buyerName><tns:buyerEmail>test@example.com</tns:buyerEmail></tns:Encrypt></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ecomm.sella.it/Encrypt"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><EncryptResponse
        xmlns="https://ecomm.sella.it/"><EncryptResult><GestPayCryptDecrypt xmlns=""><TransactionType>ENCRYPT</TransactionType><TransactionResult>OK</TransactionResult><CryptDecryptString>i3eUhxjb5HNxldtVSXb4qxaYva_uWKNn6BSQgRXkBUWKjoQvU6IbNgocbJYSr2LZ3FdnsvnpXH8KQ1*lizVn5LmWYMmN7JA0wMpuURkqftlBYPdjzXMmOomRrUenCF1JzE0j1ugNdSIbY7rrrUVxYAtjdvkKmyKrtLOiDuTohJsWaWGuIH4y_KUUa5cWcY3Oqz8eSjVfiWr8RUeAYCVmeA</CryptDecryptString><ErrorCode>0</ErrorCode><ErrorDescription></ErrorDescription></GestPayCryptDecrypt></EncryptResult></EncryptResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 May 2013 09:06:27 GMT
recorded_with: VCR 2.4.0
