---
http_interactions:
- request:
    method: get
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSs2s.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://ecomms2s.sella.it/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"https://ecomms2s.sella.it/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://ecomms2s.sella.it/\">\r\n
        \     <s:element name=\"callRefundS2S\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"shopLogin\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"uicCode\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"amount\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"shopTransactionId\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1[...]
- request:
    method: post
    uri: https://testecomm.sella.it/gestpay/gestpayws/WSs2s.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ecomms2s.sella.it/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:callPagamS2S><tns:shopLogin>GESPAY12345</tns:shopLogin><tns:uicCode>242</tns:uicCode><tns:languageId>1</tns:languageId><tns:amount>0.02</tns:amount><tns:shopTransactionId>12</tns:shopTransactionId><tns:cardNumber>5432123456789012</tns:cardNumber><tns:expiryMonth>01</tns:expiryMonth><tns:expiryYear>20</tns:expiryYear><tns:cvv>753</tns:cvv><tns:buyerName>Test
        Customer</tns:buyerName><tns:buyerEmail>test@example.com</tns:buyerEmail><tns:customInfo>payment_id=15*P1*user_id=12</tns:customInfo></tns:callPagamS2S></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ecomms2s.sella.it/callPagamS2S"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><callPagamS2SResponse
        xmlns="https://ecomms2s.sella.it/"><callPagamS2SResult><GestPayS2S xmlns=""><TransactionType>PAGAM</TransactionType><TransactionResult>KO</TransactionResult><ShopTransactionID>12</ShopTransactionID><BankTransactionID>19</BankTransactionID><AuthorizationCode></AuthorizationCode><Currency>242</Currency><Amount>0.02</Amount><Country></Country><Buyer><BuyerName>&lt;![CDATA[Test
        Customer]]&gt;</BuyerName><BuyerEmail>&lt;![CDATA[test@example.com]]&gt;</BuyerEmail></Buyer><CustomInfo><PAYMENT_ID>15</PAYMENT_ID><USER_ID>12</USER_ID></CustomInfo><ErrorCode>74</ErrorCode><ErrorDescription>Autorizzazione
        negata</ErrorDescription><AlertCode></AlertCode><AlertDescription></AlertDescription><TransactionKey>190459813</TransactionKey><VbV><VbVFlag>OK</VbVFlag><VbVBuyer></VbVBuyer><VbVRisp></VbVRisp></VbV><PaymentMethod>MASTERCARD
        SECURECODE</PaymentMethod><TOKEN></TOKEN><TokenExpiryMonth></TokenExpiryMonth><TokenExpiryYear></TokenExpiryYear></GestPayS2S></callPagamS2SResult></callPagamS2SResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 21 May 2013 13:45:15 GMT
recorded_with: VCR 2.4.0
